body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e3f2fd, #bbdefb); 
    /* background-color: #e3f2fd; */
}

table {
    background-color: white;
    padding: 20px;
    border-radius: 15px; /* */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

h2 {
    color: #1565c0;
}

input, select {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #90caf9;
}

input[type="button"] {
    background-color: #1565c0;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0d47a1;
}
